<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WhazzApp</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="icon" href="./assets/img/favicon.png">
</head>
    <body>
        <section id="root" @click="close">
            <div class="content">
                <aside>
                    <header>
                        <div class="my-photo">
                            <img src="./assets/img/avatar_io.jpg" alt="My Photo">
                        </div>
                        <div class="actions">
                        <span>
                            <svg id="ee51d023-7db6-4950-baf7-c34874b80976" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor"
                                                                                  d="M12 20.664a9.163 9.163 0 0 1-6.521-2.702.977.977 0 0 1 1.381-1.381 7.269 7.269 0 0 0 10.024.244.977.977 0 0 1 1.313 1.445A9.192 9.192 0 0 1 12 20.664zm7.965-6.112a.977.977 0 0 1-.944-1.229 7.26 7.26 0 0 0-4.8-8.804.977.977 0 0 1 .594-1.86 9.212 9.212 0 0 1 6.092 11.169.976.976 0 0 1-.942.724zm-16.025-.39a.977.977 0 0 1-.953-.769 9.21 9.21 0 0 1 6.626-10.86.975.975 0 1 1 .52 1.882l-.015.004a7.259 7.259 0 0 0-5.223 8.558.978.978 0 0 1-.955 1.185z"></path></svg>
                        </span>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path
                                    fill="currentColor"
                                    d="M19.005 3.175H4.674C3.642 3.175 3 3.789 3 4.821V21.02l3.544-3.514h12.461c1.033 0 2.064-1.06 2.064-2.093V4.821c-.001-1.032-1.032-1.646-2.064-1.646zm-4.989 9.869H7.041V11.1h6.975v1.944zm3-4H7.041V7.1h9.975v1.944z"></path></svg>
                        </span>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path
                                    fill="currentColor"
                                    d="M12 7a2 2 0 1 0-.001-4.001A2 2 0 0 0 12 7zm0 2a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 9zm0 6a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 15z"></path></svg>
                        </span>
                        </div>
                    </header>
                    <div class="alerts">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                            <path fill="currentColor"
                                  d="M24.154 2C11.919 2 2 11.924 2 24.165S11.919 46.33 24.154 46.33s22.154-9.924 22.154-22.165S36.389 2 24.154 2zm-.744 15.428v-.618c0-.706.618-1.324 1.324-1.324s1.323.618 1.323 1.324v.618c2.559.618 4.412 2.823 4.412 5.559v3.176l-8.294-8.294a5.056 5.056 0 0 1 1.235-.441zm1.323 15.706a1.77 1.77 0 0 1-1.765-1.765h3.529a1.768 1.768 0 0 1-1.764 1.765zm7.236-.883l-1.765-1.765H17.233v-.882l1.765-1.765v-4.853a5.56 5.56 0 0 1 .794-2.912l-2.559-2.559 1.147-1.147 14.735 14.736-1.146 1.147z"></path>
                        </svg>
                    </span>
                        <div class="inner-alerts">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <div class="active-alerts">
                                <span class="active">Attiva notifiche desktop</span>
                                <span class="caret">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 12" width="8" height="12"><path
                                        fill="currentColor"
                                        d="M2.173 1l4.584 4.725-4.615 4.615-1.103-1.103 3.512-3.512L1 2.173 2.173 1z"></path></svg>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="search-chats">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path
                                fill="currentColor"
                                d="M15.009 13.805h-.636l-.22-.219a5.184 5.184 0 0 0 1.256-3.386 5.207 5.207 0 1 0-5.207 5.208 5.183 5.183 0 0 0 3.385-1.255l.221.22v.635l4.004 3.999 1.194-1.195-3.997-4.007zm-4.808 0a3.605 3.605 0 1 1 0-7.21 3.605 3.605 0 0 1 0 7.21z"></path></svg>
                    </span>
                        <input v-model="contactName" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <section id="chats">
                        <div class="chat" v-for="(contact, i) in contacts" v-if="searching(contact.name, contactName)" :class="isActive(i)"  @click="onChat=i">
                            <div class="inner-chat">
                                <div class="user-photo">
                                    <img :src="'./assets/img/avatar' + contact.avatar + '.jpg'" :alt="'avatar' + contact.avatar">
                                </div>
                                <div class="inner-data">
                                    <span>{{ contact.name }}</span>
                                    <div style="display: flex; align-items: center">
                                        <span class="deleted" v-if="contact.messages[contact.messages.length - 1].deleted">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 19" width="17"
                                             height="19"><path fill="currentColor"
                                                               d="M12.629 12.463a5.17 5.17 0 0 0-7.208-7.209l7.208 7.209zm-1.23 1.229L4.191 6.484a5.17 5.17 0 0 0 7.208 7.208zM8.41 2.564a6.91 6.91 0 1 1 0 13.82 6.91 6.91 0 0 1 0-13.82z"></path></svg>
                                    </span>
                                        <span class="message">{{ contact.messages[contact.messages.length - 1].text }}</span>
                                    </div>
                                </div>
                            </div>
                            <span class="time">{{ contact.messages[contact.messages.length - 1].time }}</span>
                        </div>
                    </section>
                </aside>
                <main>
                    <div v-if="onChat == null" class="inner-welcome">
                        <div class="intro">
                            <div class="intro-connection-light"></div>
                            <div class="welcome-message">
                                <h1>Mantieni il telefono connesso</h1>
                                <p>WhatsApp si collega al tuo telefono per sincronizzare i messaggi. Per ridurre
                                    l'utilizzo dei dati, collega il telefono al Wi-Fi.</p>
                            </div>
                            <div class="download-app">
                            <span class="pc">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 18" width="21" height="18"><path
                                        fill="currentColor"
                                        d="M10.426 14.235a.767.767 0 0 1-.765-.765c0-.421.344-.765.765-.765s.765.344.765.765-.344.765-.765.765zM4.309 3.529h12.235v8.412H4.309V3.529zm12.235 9.942c.841 0 1.522-.688 1.522-1.529l.008-8.412c0-.842-.689-1.53-1.53-1.53H4.309c-.841 0-1.53.688-1.53 1.529v8.412c0 .841.688 1.529 1.529 1.529H1.25c0 .842.688 1.53 1.529 1.53h15.294c.841 0 1.529-.688 1.529-1.529h-3.058z"></path></svg>
                            </span>
                                <p>WhatsApp è disponibile per Windows. <a href="#">Scaricala qui</a>.</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat-messages" v-if="onChat != null">
                        <header>
                            <div class="inner-header">
                                <div class="user-photo">
                                    <img :src="'./assets/img/avatar' + contacts[onChat].avatar + '.jpg'" :alt="'avatar' + contacts[onChat].avatar">
                                </div>
                                <span>{{ contacts[onChat].name }}</span>
                            </div>
                            <div class="actions">
                                 <span class="search">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path
                                            fill="currentColor"
                                            d="M15.009 13.805h-.636l-.22-.219a5.184 5.184 0 0 0 1.256-3.386 5.207 5.207 0 1 0-5.207 5.208 5.183 5.183 0 0 0 3.385-1.255l.221.22v.635l4.004 3.999 1.194-1.195-3.997-4.007zm-4.808 0a3.605 3.605 0 1 1 0-7.21 3.605 3.605 0 0 1 0 7.21z"></path></svg>
                                 </span>
                                 <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path
                                            fill="currentColor"
                                            d="M12 7a2 2 0 1 0-.001-4.001A2 2 0 0 0 12 7zm0 2a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 9zm0 6a2 2 0 1 0-.001 3.999A2 2 0 0 0 12 15z"></path></svg>
                                </span>
                            </div>
                        </header>
                        <section class="body">
                            <div v-for="(message, i) in contacts[onChat].messages" :class="status(message)" @mouseenter="mouseenter(i)" @mouseleave="mouseleave">
                                <span class="arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 13"><path opacity=".13" fill="#0000000" d="M1.533 3.568L8 12.193V1H2.812C1.042 1 .474 2.156 1.533 3.568z"></path><path fill="currentColor" d="M1.533 2.568L8 11.193V0H2.812C1.042 0 .474 1.156 1.533 2.568z"></path></svg>
                                </span>
                                <span class="deleted" v-if="message.deleted">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 19" width="17" height="19"><path fill="currentColor" d="M12.629 12.463a5.17 5.17 0 0 0-7.208-7.209l7.208 7.209zm-1.23 1.229L4.191 6.484a5.17 5.17 0 0 0 7.208 7.208zM8.41 2.564a6.91 6.91 0 1 1 0 13.82 6.91 6.91 0 0 1 0-13.82z"></path></svg>
                                </span>
                                <span class="message" :class="isDeleted(message)">{{ message.text }}</span>
                                <div class="actions">
                                    <span class="time" v-if="message.deleted || onMessage !== i || message.status === 'received'">{{ message.time }}</span>
                                    <span class="caret-down" v-if="!message.deleted && onMessage === i && message.status === 'sent'" @click.prevent.stop="open($event, i)">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18"><path
                                            fill="currentColor"
                                            d="M3.3 4.6L9 10.3l5.7-5.7 1.6 1.6L9 13.4 1.7 6.2l1.6-1.6z"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </section>
                        <footer>
                            <div class="actions">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M9.153 11.603c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962zm-3.204 1.362c-.026-.307-.131 5.218 6.063 5.551 6.066-.25 6.066-5.551 6.066-5.551-6.078 1.416-12.129 0-12.129 0zm11.363 1.108s-.669 1.959-5.051 1.959c-3.505 0-5.388-1.164-5.607-1.959 0 0 5.912 1.055 10.658 0zM11.804 1.011C5.609 1.011.978 6.033.978 12.228s4.826 10.761 11.021 10.761S23.02 18.423 23.02 12.228c.001-6.195-5.021-11.217-11.216-11.217zM12 21.354c-5.273 0-9.381-3.886-9.381-9.159s3.942-9.548 9.215-9.548 9.548 4.275 9.548 9.548c-.001 5.272-4.109 9.159-9.382 9.159zm3.108-9.751c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962z"></path></svg>
                                </span>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M1.816 15.556v.002c0 1.502.584 2.912 1.646 3.972s2.472 1.647 3.974 1.647a5.58 5.58 0 0 0 3.972-1.645l9.547-9.548c.769-.768 1.147-1.767 1.058-2.817-.079-.968-.548-1.927-1.319-2.698-1.594-1.592-4.068-1.711-5.517-.262l-7.916 7.915c-.881.881-.792 2.25.214 3.261.959.958 2.423 1.053 3.263.215l5.511-5.512c.28-.28.267-.722.053-.936l-.244-.244c-.191-.191-.567-.349-.957.04l-5.506 5.506c-.18.18-.635.127-.976-.214-.098-.097-.576-.613-.213-.973l7.915-7.917c.818-.817 2.267-.699 3.23.262.5.501.802 1.1.849 1.685.051.573-.156 1.111-.589 1.543l-9.547 9.549a3.97 3.97 0 0 1-2.829 1.171 3.975 3.975 0 0 1-2.83-1.173 3.973 3.973 0 0 1-1.172-2.828c0-1.071.415-2.076 1.172-2.83l7.209-7.211c.157-.157.264-.579.028-.814L11.5 4.36a.572.572 0 0 0-.834.018l-7.205 7.207a5.577 5.577 0 0 0-1.645 3.971z"></path></svg>
                                </span>
                            </div>
                            <div class="send-message">
                                <input ref="msg" v-model="message" type="text" placeholder="Scrivi un messaggio" @keyup.enter="send($refs)">
                                <div class="actions">
                                    <span v-if="!message">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M11.999 14.942c2.001 0 3.531-1.53 3.531-3.531V4.35c0-2.001-1.53-3.531-3.531-3.531S8.469 2.35 8.469 4.35v7.061c0 2.001 1.53 3.531 3.53 3.531zm6.238-3.53c0 3.531-2.942 6.002-6.237 6.002s-6.237-2.471-6.237-6.002H3.761c0 4.001 3.178 7.297 7.061 7.885v3.884h2.354v-3.884c3.884-.588 7.061-3.884 7.061-7.885h-2z"></path></svg>
                                    </span>
                                    <span v-if="message" @click="send($refs)">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path></svg>
                                    </span>
                                </div>
                            </div>
                        </footer>
                    </div>
                </main>
            </div>

            <div class="dropdown" :style="{ top: y + 'px', left: x + 'px'}" v-if="onClick" @click.prevent.stop>
                <div class="dropdown-item" @click="remove()">
                    <span>Elimina messaggio</span>
                </div>
            </div>
        </section>


        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./assets/js/_contacts.js"></script>
        <script src="./assets/js/app.js"></script>
    </body>
</html>