/* XL */
@media screen and (max-width: 1399px) {
    section#root > .content {
        width: 91%;
    }
}

/* LG */
@media screen and (max-width: 1199px) {
    main .inner-welcome > .intro {
        font-size: .7rem;
        width: 60%;
    }

    main .inner-welcome .intro > .intro-connection-light {
        width: 250px;
        height: 250px;
    }
}

/* MD */
@media screen and (min-width: 768px) and (max-width: 991px) {
    section#root {
        justify-content: unset;
        align-items: unset;
    }

    section#root:after {
        display: none;
    }

    section#root > .content {
        width: 100%;
    }

    section#root .content > aside,
    section#root .content > main {
        height: 100%;
    }

    section#root .content > aside {
        flex: unset;
        width: 72px;
    }

    section#root .content > main {
        flex: 0 1 100%;
    }


    section#root .content aside > header {
        height: 250px;
    }

    aside > header {
        padding: .5rem 0 .5rem 0;
        flex-direction: column;
    }

    aside header > .actions {
        flex-direction: column;
        height: 65%;
    }

    aside .alerts {
        display: none;
    }

    aside .search-chats > input {
        color: #fff;
        width: 53%;
        padding: .6rem .6rem .6rem 0;
    }

    aside .search-chats > span {
        left: unset;
        cursor: pointer;
        pointer-events: none;
    }

    aside .search-chats > input::placeholder {
        opacity: 0;
    }

    aside .search-chats > input:focus {
        color: #000;
        left: 10rem;
        width: 380px;
        padding-left: 6.5rem;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    aside #chats > .chat {
        justify-content: center;
    }

    aside #chats .chat .inner-chat > .user-photo {
        padding: unset;
    }

    aside #chats .chat .inner-chat > .inner-data,
    aside #chats .chat > span.time {
        display: none;
    }

    main .inner-welcome > .intro {
        font-size: .7rem;
        width: 60%;
    }

    main .inner-welcome .intro > .intro-connection-light {
        width: 250px;
        height: 250px;
    }

    main .body .wrapper {
        padding: .5rem 2rem;
    }
}

/* SM */

@media screen and (max-width: 767px) {
    section#root {
        justify-content: unset;
        align-items: unset;
    }

    section#root:after {
        display: none;
    }

    section#root > .content {
        width: 100%;
        display: unset;
    }

    section#root .content > aside,
    section#root .content > main {
        width: 100%;
        height: 100%;
    }

    /*section#root .content > aside {
        display: none;
    }*/

    section#root .content > main {
        display: none;
    }
}
